* {
    margin: 0;
    box-sizing: border-box;
}

html {
    background-color: #000149;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

body {
    counter-reset: taskno;
}

.hero {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.overflow {
    overflow: auto;
    display: flex;
}

.center {
    padding: 10px;
    margin: auto;
    color: black; /* Blockly UI font color */
    display: flex;
}

main {
    max-width: 50em;
    margin: 5em auto;
    line-height: 1.7;
    letter-spacing: 0.02em;
}

h1, h2, footer, .hero .hint {
    margin: 1em;
    text-align: center;
}

.md-48 {
    font-size: 48px;
}

@keyframes bounce-animation {
    0%   { top: 0px; }
    10%  { top: 10px; }
    20%  { top: 0px; }
    30%  { top: 10px; }
    75%  { top: 0px; }
    100% { top: 0px; }
}

.bounce {
    position: relative;
    animation-name: bounce-animation;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
}

h1, h2, footer, a, .task, .spoiler .spoiler--title {
    font-family: 'DotGothic16', monospace;
    color: mediumaquamarine;
}

.task::after{
    counter-increment: taskno;
    content: counter(taskno) ". ";
}

p {
    margin: 1em;
}

img, video {
    display: block;
    margin: 3em auto;
    max-width: 100%;
}

#metacar {
    margin-right: 10px;
}

.blockly {
    height: 600px;
    width: 1400px;
}

.spoiler {
    cursor: pointer;
    padding: 1em;

    border-left: 1px solid mediumaquamarine;
    border-right: 1px solid mediumaquamarine;

    width: 100%;
}

.spoiler--title {
    margin-bottom: 1em;
}

.spoiler .spoiler--content {
    display: none;
}

.spoiler.open .spoiler--content {
    display: block;
}

.spoiler--content img,
.spoiler--content video {
    margin: 1em auto;
}

.spoiler-blockly {
    height: 300px;
    width: 100%;
}

.spoiler-spacer {
    height: 200vh;
}

.floating-toolbar {
    display: inline-flex;
    position: relative;
    z-index: 70; /* Blockly toolbox seems to have z-index 69 */
    bottom: 30px;
    left: 15px;
}

.floating-toolbar--button {
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;

    margin: 5px;
    padding: 5px;
    
    border: none;
    border-radius: 200px;
    background-color: mediumspringgreen;

    cursor: pointer;
    box-shadow: 2px 2px 20px #444444;
}

.floating-toolbar--button:hover {
    box-shadow: 3px 3px 30px #222222;
}

.floating-toolbar--spacer {
    width: 40px;
}

.execution .run {
    display: flex;
}

.execution .stop {
    display: none;
}

.execution.running .run {
    display: none;
}

.execution.running .stop {
    display: flex;
}
